<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
            <ul>
                <li>{{course.level}}</li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>